Repository sgfn/rikishi, pull requests merged in 2024-05, with the labels that each got.

#3 Kan 4 kan 19 widok zawodnikow
  backend/build.gradle
  frontend/README.md
  frontend/assets/icons/exit.png
  frontend/assets/icons/filter.png
  frontend/assets/icons/sort.png
  frontend/db_test/db.json
  frontend/package-lock.json
  frontend/src/components/ContestantsList.css
  frontend/src/components/ContestantsList.js
  frontend/src/hooks/useFetch.js
  frontend/src/renderer/App.css
  frontend/src/renderer/App.tsx
Labels: frontend

#4 Kan 3 kan 24 widok aktualnego zawodnika
  frontend/README.md
  frontend/src/components/ContestantProfile.css
  frontend/src/components/ContestantProfile.js
  frontend/src/hooks/useFetch.js
  frontend/src/renderer/App.tsx
Labels: frontend

#5 KAN-28-widok-glownego-ekranu
  frontend/assets/sumuStart.jpg
  frontend/db.json
  frontend/src/components/MainView.css
  frontend/src/components/MainView.js
  frontend/src/renderer/App.css
  frontend/src/renderer/App.tsx
Labels: frontend

#7 [KAN-18] Userdata loading from a CSV file
  backend/build.gradle
  backend/build.gradle.kts
  backend/src/main/java/com/rikishi/rikishi/config/JacksonConfig.java
  backend/src/main/java/com/rikishi/rikishi/loader/UserLoader.java
  backend/src/main/java/com/rikishi/rikishi/loader/csv/CSVUserIterator.java
  backend/src/main/java/com/rikishi/rikishi/loader/csv/CSVUserLoader.java
  backend/src/main/java/com/rikishi/rikishi/model/Range.java
  backend/src/main/java/com/rikishi/rikishi/model/Sex.java
  backend/src/main/java/com/rikishi/rikishi/model/User.java
  backend/src/main/java/com/rikishi/rikishi/model/WeightClass.java
  backend/src/main/java/com/rikishi/rikishi/provider/ConfigProvider.java
  backend/src/main/java/com/rikishi/rikishi/provider/ResConfigProvider.java
  backend/src/main/resources/config.json
  backend/src/test/java/com/rikishi/rikishi/ResourceManager.java
  backend/src/test/java/com/rikishi/rikishi/config/UserLoaderConfigTest.java
  backend/src/test/java/com/rikishi/rikishi/loader/csv/CSVUserLoaderTest.java
  backend/src/test/java/com/rikishi/rikishi/model/RangeTest.java
  backend/src/test/resources/users.csv
Labels: backend, PRP0

#14 [KAN-6] Add several new endpoints, allow category editing
  backend/src/main/java/com/rikishi/rikishi/controller/ContestantsController.java
  backend/src/main/java/com/rikishi/rikishi/controller/DuelsController.java
  backend/src/main/java/com/rikishi/rikishi/controller/WeightCategoriesController.java
  backend/src/main/java/com/rikishi/rikishi/model/User.java
  backend/src/main/java/com/rikishi/rikishi/model/entity/Contestant.java
  backend/src/main/java/com/rikishi/rikishi/model/entity/Contestants.java
  backend/src/main/java/com/rikishi/rikishi/model/entity/Duel.java
  backend/src/main/java/com/rikishi/rikishi/model/entity/Duels.java
  backend/src/main/java/com/rikishi/rikishi/model/entity/WeightCategories.java
  backend/src/main/java/com/rikishi/rikishi/provider/ConfigProvider.java
  backend/src/main/java/com/rikishi/rikishi/provider/ResConfigProvider.java
  backend/src/main/java/com/rikishi/rikishi/service/UsersService.java
Labels: backend, PRP0

#15 Kan 3 wazenie zawodnikow
  frontend/db_test/db.json
  frontend/src/components/ContestantProfile.js
  frontend/src/components/WeightInForm.css
  frontend/src/components/WeightInForm.js
  frontend/src/hooks/usePatchData.js
  frontend/src/renderer/App.tsx
Labels: frontend

#9 Add Swagger support
  backend/build.gradle.kts
  backend/src/main/java/com/rikishi/rikishi/controller/HealthcheckController.java
  backend/src/main/java/com/rikishi/rikishi/controller/annotation/DebugOnly.java
  backend/src/main/resources/application.properties
Labels: backend, PRP2

#16 [KAN-17] Local database
  backend/.gitignore
  backend/src/main/java/com/rikishi/rikishi/controller/ContestantsController.java
  backend/src/main/java/com/rikishi/rikishi/model/Indexable.java
  backend/src/main/java/com/rikishi/rikishi/model/User.java
  backend/src/main/java/com/rikishi/rikishi/repository/JSONRepository.java
  backend/src/main/java/com/rikishi/rikishi/repository/Repository.java
  backend/src/main/java/com/rikishi/rikishi/repository/UserRepository.java
  backend/src/main/java/com/rikishi/rikishi/service/UserService.java
  backend/src/main/java/com/rikishi/rikishi/service/UsersService.java
  backend/src/test/java/com/rikishi/rikishi/ResourceManager.java
  backend/src/test/java/com/rikishi/rikishi/repository/JSONRepositoryTest.java
  backend/src/test/resources/testRepository.json
Labels: backend, PRP0

#19 Add gradle run target
  backend/build.gradle.kts
Labels: backend, PRP0

#13 [KAN-1]-Losowanie-drabinki-zawod-w
  backend/app/src/main/java/backend/matching/Player.java
  backend/app/src/main/java/backend/matching/systems/TreeBracket.java
  backend/app/src/test/java/backend/MatchingSystemTest.java
  backend/src/main/java/com/rikishi/backend/matching/Main.java
  backend/src/main/java/com/rikishi/backend/matching/Player.java
  backend/src/main/java/com/rikishi/backend/matching/systems/MatchingSystem.java
  backend/src/main/java/com/rikishi/backend/matching/systems/OctetRoundName.java
  backend/src/main/java/com/rikishi/backend/matching/systems/TreeBracket.java
  backend/src/test/java/com/rikishi/backend/MatchingSystemTest.java
  frontend/build/favicon.ico
  frontend/build/logo192.png
  frontend/build/logo512.png
  frontend/build/manifest.json
  frontend/build/robots.txt
Labels: backend

#18 [KAN-7] Sort users by: age, name and weight
  backend/src/main/java/com/rikishi/rikishi/controller/ContestantsController.java
  backend/src/main/java/com/rikishi/rikishi/service/UserService.java
Labels: backend
